{% extends "SharimgDefaultBundle::base.html.twig" %}

{% block body %}
    <h1>{{ 'content.add'|trans }}</h1>

    {% include 'SharimgContentBundle:Forms:add.html.twig' with {'input_data': input_data, 'errors': errors} %}
{% endblock %}