{% extends "SharimgDefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    <h1>{{ 'content.contents'|trans }}</h1>

    <div id="timeline">
        {% for content in contents %}
            {% if loop.index0 % 4 == 0 %}
            <div class="row">
            {% endif %}

                <div class="post col-sm-6 col-md-3">
                    <a href="{{ path('sharimg_content_show', {content: content.id}) }}">
                        <div class="media-thumbnail" style="background: url({{ asset('images/min/' ~ content.media.path) }}) 50% 50% no-repeat"></div>
                        <h3>{{ content.description }}</h3>
                    </a>
                </div>

            {% if loop.index0 % 4 == 3 or loop.last %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}