{% extends "SharimgDefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    <h1>{{ content.description }}</h1>
    <img src="{{ asset('images/' ~ content.media.path) }}" alt=".">
</div>
{% endblock %}