{% extends "SharimgDefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        {% include "SharimgUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock content %}
