form .error{color:red;}
form.form-file{background:#eee;margin:-5px;padding:5px;}

.post .media-thumbnail{height:250px;width:250px;}
@media (min-width: 768px){
    .row{margin:20px 0 0;}
    .post{height:325px;overflow:hidden;}
    .post h3{font-size:21px;height:75px;margin:5px;}
    .post .media-thumbnail{height:250px;width:250px;}
}

.tweet-title-input{min-width:150px;}
.img-thumbnail{max-width:150px;max-height:150px;}
.form-description{resize:vertical;}